/*
Theme Name: Abstractive
Theme URI: http://zenoweb.nl/
Description: An Abstract theme in black and white. Build it up with some nice photos.
Author: Marcel Pol
Version: 1.0.0
Tags: fixed-width, threaded-comments, mobile, html5, abstract, black-and-white
*/


/*
Global setup
-------------------------------------------------------------------
1.  CSS reset (don't touch)
2.  Fonts
3.  Global elements
4.  Layout with container and 2 columns
5.  Header and Topmenu
6.  Sidebars and Widgets
7.  Front page
8.  Pages
9.  Category / Taxonomy / Blog page
10. Single post
11. Content
12. Images, Nextgen Gallery, WordPress Galleries
13. Post Formats
14. Navigation
15. Comment List
16. Comment Form
17. Footer
18. Print Style
19. Tablet and big smartphone media query
--------------------------------------------------------------------
*/


/*
1. CSS reset
https://github.com/richclark/HTML5resetCSS
======>> Afblijven, dit is puur voor de CSS reset!!
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	/*vertical-align:baseline;*/
	background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

a img {
	border: none;
}

/* Einde CSS reset. Edit vanaf hier
-------------------------------------------------------------- */


/* 2. Fonts
-------------------------------------------------------------- */
/* Open Sans is available through functions.php. */
body {
	font-family: 'Open Sans', Verdana, sans-serif;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* 3. Globale Elementen
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */

/*
 * Use fontsize in px only for design elements, like text over an image.
 * Use em, rem and % for content elements for accessibility.
 */

html {
	font-size: 15px;
	line-height: 1.5em;
	text-rendering: optimizelegibility;
	background-color: #d6d6d6;
	background-image: linear-gradient(top, #ddd, #d1d1d1);
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.1em;
	margin: 5px 0 10px 0;
	font-size: 1.2em;
	font-size: 1.2rem;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 10px;
}
ul {
	list-style: disc;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
small {
	font-size: 64%;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.clear {
	clear: both;
}
a:link,
a:visited {
	color: #111;
	text-decoration: underline;
}
a:active,
a:hover,
a.hover {
	color: #000;
	text-decoration: underline;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="week"],
input[type="month"],
input[type="number"],
input[type="tag"],
input[type="range"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="password"],
input[type="color"] {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* text, html5 inputs en textarea */
input[type="text"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="week"],
input[type="month"],
input[type="number"],
input[type="tag"],
input[type="range"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="password"],
input[type="color"],
textarea {
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #aaa;
	border-radius: 0px;
	padding: 6px 10px;
	max-width: 100%;
}

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	padding: 6px 10px;
	font-size: 1em;
	font-size: 1rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #fff;
	background-color: #32373c;
	border-width: 0px;
	border-radius: 0px;
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	color: #fff;
	background-color: #42474c;
}
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #fff;
	background-color: #32373c;
}

select {
	background-color: #f5f5f5;
	color: #000;
	padding: 5px;
	line-height: 1.3;
	border: 1px solid #ccc;
}

/* Text meant only for screen readers */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}


/* 4. Layout with 2 columns
--------------------------------------------------------- */

#wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	background-color: #e6e6e6;
}
#container {
	margin: 0;
	clear: both;
	border-right: 4px solid #000;
}
#content {
	float: left;
	margin: 0;
	width: 740px;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 248px;
	border-bottom: 4px solid #000;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}


/* 5. Header
-------------------------------------------------------------- */
#header {
	padding: 0;
}

#logo {
	float: left;
	border-top: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
	border-left: 4px solid #000;
	overflow: hidden;
}
#logo a {
	display: block;
	width: 304px;
	height: 296px;
}
#logo span.hidden {
	display: none;
}


#bovenvak_1 {
	float: left;
	border-top: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
	width: 150px;
	height: 296px;
	overflow: hidden;
}
#bovenvak_1_boven {
	border-bottom: 4px solid #000;
	width: 150px;
	height: 194px;
	overflow: hidden;
}
#bovenvak_1_onder {
	width: 150px;
	height: 98px;
	overflow: hidden;
}

#bovenvak_2 {
	float: left;
	border-top: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
	width: 150px;
	height: 296px;
	overflow: hidden;
}
#bovenvak_2_boven {
	border-bottom: 4px solid #000;
	width: 150px;
	height: 98px;
	overflow: hidden;
}
#bovenvak_2_onder {
	width: 150px;
	height: 194px;
	overflow: hidden;
}

#bovenvak_3 {
	float: left;
	border-top: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
	width: 376px;
	height: 296px;
	overflow: hidden;
}
#bovenvak_3_boven {
	border-bottom: 4px solid #000;
	width: 376px;
	height: 194px;
	overflow: hidden;
}
#bovenvak_3_onder {
	width: 376px;
	height: 98px;
	overflow: hidden;
}

/* Support for custom background in text widgets for contact info */
#header .widget-container.widget_text,
#header .widget-container.widget_custom_html {
	color: #856266;
	background-color: #dad9d6;
	font-size: 1.4em;
	line-height: 1.3em;
}
#bovenvak_1_boven .widget-container.widget_text,
#bovenvak_1_boven .widget-container.widget_custom_html,
#bovenvak_2_onder .widget-container.widget_text,
#bovenvak_2_onder .widget-container.widget_custom_html,
#bovenvak_3_boven .widget-container.widget_text,
#bovenvak_3_boven .widget-container.widget_custom_html {
	height: 194px;
}
#bovenvak_1_onder .widget-container.widget_text,
#bovenvak_1_onder .widget-container.widget_custom_html,
#bovenvak_2_boven .widget-container.widget_text,
#bovenvak_2_boven .widget-container.widget_custom_html,
#bovenvak_3_onder .widget-container.widget_text,
#bovenvak_3_onder .widget-container.widget_custom_html {
	height: 98px;
}


/* TopMenu
-------------------------------------------------------------- */

#access {
	display: block;
	margin: 0 auto;
	width: 996px;
	clear: both;
	border-bottom: 4px solid #000;
	border-right: 4px solid #000;
	height: 37px;
}
#access .menu {
	font-size: 1.5em;
	font-size: 1.5rem;
}
#access ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#access .menu li {
	float: left;
	position: relative;
}
#access ul li a {
	display: block;
	line-height: 37px;
	width: 244px;
	border-left: 4px solid #000;
	text-decoration: none;
	text-align: center;
}
/* Current page or current parent. Hover too */
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a,
#access a.hover,
#access a:hover,
#access a:active {
	color: #555;
}
#access ul ul {
	display: none;
	position: absolute;
	top: 37px;
	left: 0;
	float: left;
	width: 244px;
	z-index: 99999;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
}
/* 4th toplevel item has width 248px */
#access ul li:last-child ul,
#access ul li:last-child ul a {
	width: 248px;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul li a {
	background-color: #e6e6e6;
	line-height: 37px;
	width: 244px;
	border-left: 0px solid #000;
	border-top: 4px solid #000;
	text-decoration: none;
	text-align: center;
}
/* the li.hover works on a touchscreen, without hover effect. */
#access ul li:hover > ul,
#access ul li.hover > ul {
	display: block;
}

/* Small menu. */
.menu-toggle {
	display: none;
}
#mobile-nav {
	display: none;
}


@media screen and (max-width: 1015px) {
	.menu-toggle,
	.main-navigation.toggled #mobile-nav {
		display: block;
	}

	/*.main-navigation.toggled .menu-toggle,*/
	.main-navigation #main-nav {
		display: none;
	}
}

/* 6. Sidebars en Widgets
-------------------------------------------------------------- */

/* Sidebar */
#sidebar-1 .widget-container {
	border-bottom: 4px solid #000;
}
#sidebar-2 .widget-container {
	border-bottom: 4px solid #000;
}
#sidebar-3 .widget-container {
	border-bottom: 4px solid #000;
}


/* General CSS */
.widget-container {
	overflow: hidden;
	padding: 10px;
}
.widget-container table {
	margin: 20px auto;
	font-weight: bold;
}
/* Make sure select elements fit in widgets. */
.widget-container select {
	max-width: 100%;
}


/* Empty Div (included) */
.widget-container.widget_empty_div {
	border-bottom: 4px solid #000;
	padding: 0;
}


/* Media widgets */
.widget-container.widget_sp_image,
.widget-container.widget_media_image {
	padding: 0;
}
.widget-container.widget_sp_image img,
.widget-container.widget_media_image img {
	margin-bottom: -5px; /* No idea why */
}
.widget-container.widget_sp_image figcaption,
.widget-container.widget_media_image figcaption{
	display: none;
}


/* Nav menu widget */
.widget_nav_menu {
	text-decoration: none;
}
.widget_nav_menu ul {
	text-align: left;
	list-style:	none;
}
.widget_nav_menu li {
	margin: 0 0 0 10px;
}

/* Submenu is or is not visible */
.widget_nav_menu ul.menu ul.sub-menu {
	font-weight: normal;
	margin: 0 0 5px 0;
	padding-left: 10px;
	display: none;
}
.widget_nav_menu ul.menu li.current_page_parent ul.sub-menu,
.widget_nav_menu ul.menu li.current_page_item ul.sub-menu,
.widget_nav_menu ul.menu li:hover ul.sub-menu,
.widget_nav_menu ul.menu li:active ul.sub-menu {
	display: block;
}

.widget_nav_menu a {
	color: #333;
	font-weight: normal;
	display: block;
}
/* Current page or parent. Also hover */
.widget_nav_menu ul li.current_page_item > a,
.widget_nav_menu ul li.current-menu-item > a,
.widget_nav_menu a:hover,
.widget_nav_menu a:active {
	color: #222;
}
.widget_nav_menu .current-menu-item a,
.widget_nav_menu .sub-menu .current-menu-item a {
	color: #444;
}
.widget_nav_menu .current-menu-item .sub-menu a {
	color: #333;
}
.widget_nav_menu .current-menu-item .sub-menu a:hover {
	color: #222;
}
.widget_nav_menu .current-menu-item a:hover,
.widget_nav_menu .sub-menu .current-menu-item a:hover {
	color: #222;
	font-weight: none;
}
.widget_nav_menu .sub-menu .current-menu-item a {
	color: #444;
}


/* 7.  Frontpage
-------------------------------------------------------------- */



/* 8.  Other pages
-------------------------------------------------------------- */
#content img.anbi {
	margin-right: 100px;
}


/* 9.  Category / Term / Taxonomy / Blog page
-------------------------------------------------------------- */



/* 10. Single bericht
-------------------------------------------------------------- */


/* 11. Content
-------------------------------------------------------------- */

#content {

}

.product {
	padding: 10px 20px 10px 20px;
}
.post {
	clear: both;
	padding: 10px 20px 10px 20px;
}

.post p.postmetadata {
	clear: both;
}
.blog p.postmetadata {
	/*border-bottom: 1px solid #000;*/
	margin: 0;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content table {
	/*border: 1px solid #e7e7e7;*/
	margin: 0 -1px 24px 0;
	text-align: left;
	/*vertical-align: text-top;*/
	width: 100%;
	background-color: #d6d6d6;
}
#content tr th,
#content thead th {
	font-weight: bold;
	padding: 6px 24px;
	/*vertical-align: text-top;*/
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
	/*vertical-align: text-top;*/
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 8px 0;
}
.blog .hentry {
	margin: 0;
}


/* Blog headings */
.blog #wrapper .hentry h1,
.blog #wrapper .hentry h2,
.blog #wrapper .hentry h3,
.blog #wrapper .hentry h4,
.blog #wrapper .hentry h5,
.blog #wrapper .hentry h6 {
	margin: 0 0 10px 0;
}
.blog #wrapper .hentry:first-child h2{
	margin: 10px 0 10px 0;
}

/* Page headings */
.hentry h1, .hentry h2, .hentry h3, .hentry h4, .hentry h5, .hentry h6,
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
	margin: 15px 0 10px 0;
}
.hentry h1:first-child, .hentry h2:first-child, .hentry h3:first-child, .hentry h4:first-child, .hentry h5:first-child, .hentry h6:first-child,
.entry h1:first-child, .entry h2:first-child, .entry h3:first-child, .entry h4:first-child, .entry h5:first-child, .entry h6:first-child {
	margin: 15px 0 20px 0;
}

/* Headings with links */
#wrapper h1 a,
#wrapper h2 a,
#wrapper h3 a,
#wrapper h4 a,
#wrapper h5 a,
#wrapper h6 a {
	text-decoration: none;
}
#wrapper h1 a:hover,
#wrapper h1 a:active,
#wrapper h2 a:hover,
#wrapper h2 a:active,
#wrapper h3 a:hover,
#wrapper h3 a:active,
#wrapper h4 a:hover,
#wrapper h4 a:active,
#wrapper h5 a:hover,
#wrapper h5 a:active,
#wrapper h6 a:hover,
#wrapper h6 a:active {
	text-decoration: underline;
}


.home .sticky {
	/*padding: 18px 20px;*/
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	font-size: 1.2em;
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	font-size: 1.2em;
	font-size: 1.2rem;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
.entry-title a:link,
.entry-title a:visited {
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #888;
	font-size: 0.8em;
	font-size: 0.8rem;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 0.8em;
	font-size: 0.8rem;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 0.7em;
	font-size: 0.7rem;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}


/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}


/* 12. Images
Gallery listing
-------------------------------------------------------------- */

.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}

/* Nextgen Gallery CSS
-------------------------------------------------------------- */


/* Images General
-------------------------------------------------------------- */

figure,
img {
	max-width: 100%;
	width: auto;
}

.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
#content img {
	margin: 0;
	max-width: 100%;
	width: auto;
	border: 1px solid #000;
	padding: 1px;
}
#content table img {
	border: 0px solid #000;
	max-width: 220px;
}
#content .attachment img {
	max-width: 900px;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}

.wp-caption-text {
	font-style: italic;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}


.post_thumbnail {
	display: inline;
	float: left;
	margin: 4px 20px 20px 0;
}



/* Galleries
---------------------------------------------------------------------------- */

.gallery {
	margin-bottom: 20px;
}

.gallery .gallery-item {
	float: left;
	margin: 10px 10px 10px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail,
.gallery-columns-4.gallery-size-thumbnail {
	display: table;
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	/*max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);*/
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: #fff;
	font-size: 14px; /* Static size in px */
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 2px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 100%;
}

.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/* Nextgen Gallery */

.ngg-galleryoverview {
	margin-right: -20px;
}

body #content .ngg-gallery-thumbnail-box {
	margin-right: 9px;
}

body #content .ngg-gallery-thumbnail img {
	border: 1px solid #000;
	padding: 1px;
	margin: 10px 10px 10px 0;
}




/* 13 Post Formats
---------------------------------------------------------------------------- */



/* 14. Navigation
-------------------------------------------------------------- */

.navigation {
	font-size: 0.9em;
	font-size: 0.9rem;
	line-height: 1.3;
	overflow: hidden;
	padding: 20px 10px;
	clear: both;
}
.navigation a:link,
.navigation a:visited {
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}

#content .ngg-navigation {
	padding: 15px 0;
}


/* 15. Comment list
-------------------------------------------------------------- */
#comments {
	clear: both;
}

#comments .navigation {
	padding: 0 0 8px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
	clear: both;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 0.8em;
	font-size: 0.8rem;
	margin: 0 0 18px 0;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 0.8em;
	font-size: 0.8rem;
	padding: 0 0 24px 0;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}


/* 16. Comment Form
----------------------------------------------------------- */
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
	display: none;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 1.0em;
	font-size: 1.0rem;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	font-size: 1.0em;
	font-size: 1.0rem;
}
#respond input {
	display: block; /* put at full width, label and input get below eachother */
	margin: 0 0 9px;
}
#respond textarea {
	width: 90%;
}
#respond .form-allowed-tags {
	font-size: 0.8em;
	font-size: 0.8rem;
}
#respond .form-allowed-tags code {
	font-size: 0.7em;
	font-size: 0.7rem;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	width: auto;
}



/* 17. Footer
-------------------------------------------------------------- */

#footer {
	margin-bottom: 20px;
}

/* Footer Widgets */
#footer_widgets {
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
}
.footer_widgets {
	float: left;
	width: 368px;
	border-right: 4px solid #000;
}
.footer_widgets_3 {
	width: 248px;
	border-right: 0px solid #000;
}
.footer_widgets_1 .widget-container,
.footer_widgets_2 .widget-container,
.footer_widgets_3 .widget-container {
	border-bottom: 4px solid #000;
}

.footer_widgets .widget-title {
	margin-bottom: 20px;
}

#colophon {
	clear: both;
	overflow: hidden;
	padding: 8px 10px;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
}
#colophon img {
	margin-bottom: -3px;
}

/* 18. Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		background: none !important;
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#container,
	#content,
	#primary {
		border: 0px solid #000;
		height: auto !important;
	}
	#bovenvak_1,
	#bovenvak_2,
	#bovenvak_3 {
		display: none;
	}
	#logo {
		border: 0px solid #000;
		height: 30px;
		border-bottom: 1px dotted #222;
	}
	#logo span.hidden {
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		font-size: 21px;
	}
	#logo a,
	#logo img {
		background: none;
		border: 0px solid #000;
		height: 30px;
		text-decoration: none;
	}
	.entry-content {
		font-size: 1.1em;
		font-size: 1.1rem;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 1.4em;
		font-size: 1.4rem;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-container {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 0.8em;
		font-size: 0.8rem;
	}
	#colophon {
		width: auto;
	}
	.home .sticky {
		border: none;
	}
	#footer_widgets {
		display: none;
	}
	#footer,
	#footer_widgets,
	.footer_widgets,
	#colophon {
		border: 0px solid #000;
	}
}

/* 19. Tablet and Big Smartphone Media Query
 *     Adjust as needed, make sure to use mostly percentages
-------------------------------------------------------------- */

@media only screen and (max-width: 1015px) {
	body #wrapper {
		margin: 0 auto;
		width: 684px;
	}

	#logo {
		border-left: 0px solid #000;
	}

	#bovenvak_1,
	#bovenvak_2 {
		display: none;
	}

	#bovenvak_3 {
		border-right: 0px solid #000;
	}

	/* Menu */
	#access {
		position: relative;
		width: 684px;
		height: auto;
		border-left: 0x solid #000;
		border-right: 0px solid #000;
	}
	.menu-toggle {
		border-right: 4px solid #000;
		border-top: 0px solid #000;
		border-bottom: 0px solid #000;
		background-color: transparent;
		background-image: none;
		display: block;
		line-height: 24px;
		height: 37px;
		width: 228px;
		border-radius: 0;
		text-decoration: none;
		text-align: center;
		font-size: 1.5em;
		font-size: 1.5rem;
		font-weight: bold;
	}

	/* First toplevel */
	#access ul#menu-mobile > li:first-child {
		margin-left: 0px;
		margin-right: -4px;
	}
	#access ul li:first-child,
	#access ul li:first-child li {
		width: 228px;
	}
	#access ul#menu-mobile > li:first-child ul {
		width: 228px;
	}
	#access ul#menu-mobile > li:first-child a {
		border-left:  0px solid #000;
		border-right: 4px solid #000;
		width: 224px;
	}

	/* Third Toplevel */
	#access ul#menu-mobile > li:last-child {
		margin-left: 0px;
		margin-right: 0px;
	}
	#access ul#menu-mobile li:last-child {
		width: 232px;
	}
	#access ul#menu-mobile > li:last-child ul {
		width: 232px;
	}
	#access ul#menu-mobile > li:last-child a {
		border-left:  4px solid #000;
		border-right: 0px solid #000;
		width: 228px;
	}

	/* Second toplevel */
	#access ul li a {
		line-height: 37px;
		border-top: 4px solid #000;
		text-decoration: none;
		text-align: center;
		border-right: 4px solid #000;
		border-left:  4px solid #000;
		width: 224px;
	}
	#access ul#menu-mobile > li {
		margin-left: 0px;
		margin-right: -4px;
		margin-bottom: -4px;
	}
	#access ul ul {
		display: block;
		border-bottom: 0px solid #000;
		border-left: 0px solid #000;
		border-right: 0px solid #000;
		margin: 0 0 0 0;
		padding: 0;
		float: none;
		width: 228px;
		height: auto;
		position: static;
		z-index: 99999;
		opacity: 1;
	}
	#access ul ul li {
		margin: 0;
		padding: 0;
		float: none;
	}
	#access ul ul li a {
		display: block;
		line-height: 37px;
		width: 224px;
		border-top:   4px solid #000;
		border-left:  4px solid #000;
		border-right: 4px solid #000;
		text-decoration: none;
		text-align: center;
	}

	/* Last items in submenu */
	#access ul ul li:last-child a,
	#access ul ul li:last-child a {
		border-bottom: 4px solid #000;
	}


	/* Content */
	#container {
		border-right: 0px solid #000;
		border-left: 0px solid #000;
	}
	#content {
		float: none;
		width: 684px;
		border-right: 0px solid #000;
		border-left: 0px solid #000;
		margin: 0;
		font-size: 1.3em;
		font-size: 1.3rem;
	}
	#content img {
		max-width: 100%;
	}


	/* Sidebar */
	#primary {
		width: 684px;
		border-left: 0px solid #000;
		border-right: 0px solid #000;
		border-bottom: 4px solid #000;
		float: none;
	}
	#primary #sidebar-1,
	#primary #sidebar-3 {
		display: none;
	}

	#primary #sidebar-2 {
		width: 100%;
		border-left: 0px solid #000;
		border-right: 0px solid #000;
		border-bottom: 0px solid #000;
	}

	#primary table {
		font-size: 1.3em;
		font-size: 1.3rem;
	}


	/* Footer */
	#footer_widgets {
		font-size: 1.3em;
		font-size: 1.3rem;
		border-right: 0px solid #000;
		border-left: 0px solid #000;
	}
	.footer_widgets {
		width: 300px;
	}
	#footer_widgets_1 {
		border-right: 4px solid #000;
	}
	#footer_widgets_2 {
		border-right: 0px solid #000;
	}
	#footer_widgets_3 {
		display: none;
	}

	#colophon {
		border-right: 0px solid #000;
		border-left: 0px solid #000;
	}


}

