/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("./Light/OpenSans-Light.eot?v=1.1.0");
  src: url("./Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url(".Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("./Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("./Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("./Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("./LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("./LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("./LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("./LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("./Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("./Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("./Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("./Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("./Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("./Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("./Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("./Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("./Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN SemiBold */
@font-face {
  font-family: 'Open Sans';
  src: url("./SemiBold/OpenSans-SemiBold.eot?v=1.1.0");
  src: url("./SemiBold/OpenSans-SemiBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./SemiBold/OpenSans-SemiBold.woff2?v=1.1.0") format("woff2"), url("./SemiBold/OpenSans-SemiBold.woff?v=1.1.0") format("woff"), url("./SemiBold/OpenSans-SemiBold.ttf?v=1.1.0") format("truetype"), url("./SemiBold/OpenSans-SemiBold.svg?v=1.1.0#SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END SemiBold */
/* BEGIN SemiBold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./SemiBoldItalic/OpenSans-SemiBoldItalic.eot?v=1.1.0");
  src: url("./SemiBoldItalic/OpenSans-SemiBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./SemiBoldItalic/OpenSans-SemiBoldItalic.woff2?v=1.1.0") format("woff2"), url("./SemiBoldItalic/OpenSans-SemiBoldItalic.woff?v=1.1.0") format("woff"), url("./SemiBoldItalic/OpenSans-SemiBoldItalic.ttf?v=1.1.0") format("truetype"), url("./SemiBoldItalic/OpenSans-SemiBoldItalic.svg?v=1.1.0#SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
/* END SemiBold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("./Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("./Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("./Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("./Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("./Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("./BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("./BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("./BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("./BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Extrabold */

/*# sourceMappingURL=open-sans.css.map */
